.user-details, .payment-info {
    padding: 20px;
    border: 2px solid #3C0295;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-family: 'Bubble Gum Sans', cursive;
}

p {
    color: #666;
    font-family: 'Bubble Gum Sans', cursive;
    margin: 5px 0;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Button Styling */
.edit-btn, .add-btn {
    background-color: #3C0295;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-family: 'Bubble Gum Sans', cursive;
}

.edit-btn:hover, .add-btn:hover {
    background-color: black;
}


@media screen and (max-width: 800px) {
    .cards-container {
        flex-direction: column;
    }
}
