.dashboard-heading {
    color: black;
}

.dashboard-details {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.dashboard-details h3 {
    color: black;
}

.dashboard-details p {
    margin: 20px 0;
}

.dashboard-update {
    padding-top: 20px;
}

.dashboard-update h3 {
    color: black;
}

.dashboard-form {
    margin-bottom: 20px;
}

.dashboard-label {
    display: block;
    margin-bottom: 20px;
    color: black;
}

.dashboard-input {
    width: 40%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.dashboard-button {
    padding: 20px 20px;
    background-color: #3C0295;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.dashboard-button:hover {
    background-color: cornflowerblue;
}

.dashboard-error {
    color: red;
    margin-top: 5px;
}

.dashboard-success {
    color: limegreen;
    font-style: italic;
    margin-top: 5px;
}
