.delivery-container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #FFF;
    color: #3C0295;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    font-family: Arial, sans-serif;
}

.delivery-section {
    margin-bottom: 30px;
}

.delivery-section-title {
    font-size: 1.5em;
    color: #3C0295;
    margin-bottom: 20px;
}

.delivery-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 160px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.delivery-item:last-child {
    border-bottom: none;
}

.delivery-item:first-child {
    border-top: 1px solid #ccc;
}

.order-date,
.order-total,
.dispatch-to,
.order-status {
    font-size: 0.9em;
}

.order-date strong,
.order-total strong,
.dispatch-to strong,
.order-status strong {
    display: block;
    font-size: 1.1em;
    color: #3C0295;
}

.btn-view-item {
    padding: 10px 20px;
    background-color: #3C0295;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-view-item:hover {
    background-color: #29196D;
}


@media (max-width: 768px) {
    .delivery-item {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    .order-actions {
        grid-column: 1 / -1;
    }
}
