footer {
    background-color: #3C0295;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    flex: 1; /* Take up remaining space */
}

.social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; /* Align social icons to the left */
}

.social li {
    display: inline-block;
    margin-right: 20px;
}

.social li img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.social li img:hover {
    transform: scale(1.1);
}

.footer-links {
    flex: 1; /* Take up remaining space */
    text-align: right; /* Align footer links to the right */
}

.footer-link {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: black;
}
