body {
    font-family: "Bubblegum Sans", cursive;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #3C0295;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    position: relative;
    background-color: #fff;
    color: #3C0295;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%; /* Adjust max-width for responsiveness */
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    max-width: 150px;
}

nav {
    position: absolute;
    bottom: 10px;
    left: 50%; /* Position the nav element at the horizontal center */
    transform: translateX(-50%); /* Center the nav element using translate */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the list items horizontally */
}

nav a {
    text-decoration: none;
    color: #3C0295;
    font-weight: bold;
    padding: 15px;
    transition: color 0.3s ease;
}


nav a:hover {
    color: lightskyblue;
}

.account-basket {
    position: absolute;
    top: 120px;
    right: 20px;
}

.account-basket > div {
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.account-basket img {
    display: block;
    width: 30px;
    height: auto;
    margin: 0 auto;
}

/* Hover effect for button */
.account-basket > div:hover {
    transform: scale(1.1);
}

/* Optional: Style for the button text */
.loginButton, .cartButton {
    font-size: 14px;
    color: black;
}

.searchBarButton {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.searchBarButton input[type="text"],
.searchBarButton button {
    font-family: "Bubblegum Sans", cursive;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.searchBarButton button {
    background-color: #3C0295;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.searchBarButton button:hover {
    background-color: black;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .searchBarButton {
        top: 160px; /* Adjust position for smaller screens */
    }
}
