.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Styling for the filters */
.filters {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.filters h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.filter-btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: transparent;
    color: #3C0295;
    border: 1px solid #3C0295;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
    background-color: #3C0295;
    color: white;
}


.sort-by {
    margin-top: 20px;
}

.sort-by label {
    margin-right: 10px;
    font-size: 1rem;
}

.sort-by select {
    padding: 8px;
    font-size: 1rem;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 0 1 calc(33.33% - 20px); /* Flexible width */
    box-sizing: border-box;
}

.product-details h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.product-details .price {
    font-size: 1.2rem;
    color: #3C0295;
}

.product-details button {
    padding: 8px 16px;
    background-color: transparent;
    color: #3C0295;
    border: 1px solid #3C0295;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.product-details button:hover {
    background-color: #3C0295;
    color: white;
}

.no-products {
    font-size: 1.2rem;
    color: #777;
    text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
    .product-container {
        align-items: center;
    }

    .filters {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .product-cards {
        width: 100%;
        justify-content: center;
    }

    .product-card {
        flex: 0 1 calc(50% - 20px); /* Flexible width */
    }
}