body {
    font-family: "Bubblegum Sans", cursive;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #3C0295;
}

.banner {
    width: 99vw;
    height: calc(100vw * 1920 / 1197);
    max-height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bannercontainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
}

.bannercontent {
    max-width: 100%;
}

.productbutton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #3C0295;
    background-color: #fff;
    text-decoration: none;
    border: 5px solid white;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.productbutton:hover {
    transform: scale(1.1);
    background-color:#3C0295;
    color: #fff;
}
h2 {
    text-align: center;
    margin-top: 20px;
}

.categories {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.category-list {
    display: flex;
    animation: slide-in 2s forwards;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
    transition: transform 0.2s ease;
}

.category-item:hover {
    transform: scale(1.1);

}

.category-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.products {
    padding: 20px;
    color: #6a0dad; /* Purple text color */
}

.product-list {
    display: flex;
    flex-wrap: wrap; /* Allow products to wrap to the next line if needed */
    margin: 0 -15px; /* Adjusted negative margin for spacing */
}

.product {
    flex: 0 0 calc(100% - 30px); /* Each product takes half of the container width minus padding and additional spacing */
    margin: 225px; /* Increased margin for more space between products */
    padding: 100px; /* Reduced padding for a smaller frame */
    border: 2px solid #6a0dad; /* Purple border */
    border-radius: 8px; /* Rounded product cards */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: transform 0.3s ease; /* Smooth scale transition */
    width: 48%; /* Adjusted width to allow for spacing */
    max-width: 250px; /* Limit maximum width of each product */
}

.product:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.product img {
    width: 100%;
    height:auto;
    border-radius: 8px; /* Rounded product images */
}

.product h3 {
    margin-top: 15px; /* Add more space between product name and image */
    font-size: 1.2em;
}

.product p {
    color: #666;
    margin-bottom: 15px; /* Add space between description and price */
}

.product .price {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

