body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black ;
}
.banner {
    width: 100vw;
    height: calc(100vw * 864 / 360);
    max-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bannercontainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
}

.bannercontent {
    max-width: 100%;
}

.productbutton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.productbutton:hover {
    transform: scale(1.1);
    background-color: #000;
    color: #fff;
}
.categories {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.category-list {
    display: flex;
    animation: slide-in 2s forwards;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.category-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
