body {
    font-family: "Bubblegum Sans", cursive;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #3C0295 ;
}
.banner {
    width: 99vw;
    height: calc(100vw * 1920 / 1197);
    max-height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bannercontainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
}

.bannercontent {
    max-width: 100%;
}

.productbutton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #3C0295;
    background-color: #fff;
    text-decoration: none;
    border: 5px solid white;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.productbutton:hover {
    transform: scale(1.1);
    background-color:#3C0295;
    color: #fff;
}
h2 {
    text-align: center;
    margin-top: 20px;
}

.categories {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.category-list {
    display: flex;
    animation: slide-in 2s forwards;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
    transition: transform 0.2s ease;
}

.category-item:hover {
    transform: scale(1.1);

}

.category-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
